In [7]:
import pandas as pd
import io
from datetime import date
today = date.today()
date = today.strftime("%m-%d-%Y") 
data = f'uncleanded_csv/StephenPimentel_glucose_{date}.csv'
df = pd.read_csv(data)
df = pd.read_csv(io.StringIO(u""+df.to_csv(header=None)))
df = df[['Device Timestamp', 'Historic Glucose mg/dL']]
df = df.dropna()
df.rename(columns={"Device Timestamp":"Time", "Historic Glucose mg/dL":"Glucose"}, inplace=True)
df.to_json(r'cleaned_csv/cleaned_data.json')

In [14]:
df_time = df.Time.str.split(expand=True)
df_time

              0      1   2
0    11-15-2022  01:36  PM
1    11-15-2022  01:51  PM
2    11-15-2022  02:07  PM
3    11-15-2022  02:22  PM
4    11-15-2022  02:37  PM
..          ...    ...  ..
174  11-17-2022  09:23  AM
175  11-17-2022  09:38  AM
176  11-17-2022  09:53  AM
177  11-17-2022  10:08  AM
178  11-17-2022  10:23  AM

[179 rows x 3 columns]